body {
background:#001120 url(/home1/body.jpg) 50% 0;
font:10px/12px Arial, Helvetica, sans-serif;
margin:0
}

form,fieldset {
display:block;
border:none;
margin:0;
padding:0
}

img {
border:none;
display:block;
margin:0
}

#wrapper {
background:#001120 url(/home1/body.jpg) 50% 0;
width:990px;
margin:0 auto
}

#main {
width:100%;
position:relative
}

#mainCont {
width:100%;
overflow:hidden;
list-style:none;
margin:0;
padding:36px 0 0
}

#mainCont li {
float:left;
padding:10px 5px 0
}

#mainCont img {
width:100px;
height:100px
}

.logo {
overflow:hidden;
width:430px;
height:100px;
text-indent:-9999px;
background:url(/home1/logo.jpg) no-repeat;
position:absolute;
left:115px;
top:156px
}

.logo a {
display:block;
height:100%
}

.captcha {
background:url(/home1/captcha.gif) repeat-x;
width:430px;
height:100px;
overflow:hidden;
border:1px solid #006094;
position:absolute;
left:444px;
top:265px
}

.captcha .robo-test {
width:110px;
float:left;
margin:25px 0 0
}

.captcha .robo-test strong {
width:100%;
display:block;
font:bold 11px/13px Arial, Helvetica, sans-serif;
color:#fff;
text-align:center
}

.captcha .lnk-refresh {
background:url(/home1/lnk-refresh.gif) no-repeat;
width:35px;
height:35px;
display:block;
text-indent:-9999px;
overflow:hidden;
margin:2px auto 0
}

.captcha .img {
width:120px;
float:left;
border:1px solid #dfdfdf;
margin:18px 24px 0 0
}

.captcha fieldset {
width:149px;
float:left;
margin:25px 0 0
}

.captcha label {
width:100%;
display:block;
font:11px/13px Arial, Helvetica, sans-serif;
color:#fff;
text-align:center
}

.captcha .string {
background:url(/home1/captcha-string.gif) no-repeat;
width:135px;
height:16px;
display:block;
overflow:hidden;
margin:8px 0 0;
padding:2px 7px 0
}

.login fieldset {
width:100%;
display:block;
overflow:hidden
}

.login-inner {
width:319px;
float:left;
margin:16px 0 0
}

.login .row {
width:209px;
overflow:hidden;
padding:0 0 10px 110px
}

.login label {
width:82px;
float:left;
font:11px/18px Arial, Helvetica, sans-serif;
color:#fff;
text-align:right;
margin:0 0 0 -110px
}

.login .remember input {
width:15px;
height:15px;
float:left;
outline:none;
margin:0 6px 0 0
}

.login .remember label {
width:auto;
font:11px/15px Arial, Helvetica, sans-serif;
color:#80b7d5;
text-align:left;
margin:0
}

.login .lnk-forgot-pass {
float:right;
font:11px/15px Arial, Helvetica, sans-serif;
color:#80b7d5
}

.login .submit {
background:url(/home1/btn-go.gif) no-repeat;
width:64px;
height:49px;
float:right;
text-indent:-9999px;
overflow:hidden;
border:0;
cursor:pointer;
margin:16px 21px 0 0;
padding:48px 0 0 63px
}

.forgot-pass fieldset {
width:100%;
display:block;
overflow:hidden;
margin:17px 0 0
}

.forgot-pass legend {
font:bold 12px/14px Arial, Helvetica, sans-serif;
color:#fff;
padding:0 0 0 110px
}

.forgot-pass .row {
width:100%;
overflow:hidden;
padding:14px 0 0
}

.forgot-pass label {
width:82px;
float:left;
font:11px/18px Arial, Helvetica, sans-serif;
color:#fff;
text-align:right;
margin:0 28px 0 0
}

.forgot-pass .submit {
background:url(/home1/btn-send.gif) no-repeat;
width:64px;
height:19px;
float:left;
text-indent:-9999px;
overflow:hidden;
border:0;
cursor:pointer;
margin:0 0 0 26px;
padding:18px 0 0 63px
}

.lnk-login {
background:url(/home1/ico-back.gif) no-repeat 0 50%;
float:right;
font:11px/15px Arial, Helvetica, sans-serif;
color:#80b7d5;
margin:-6px 111px 0 0;
padding:0 0 0 16px
}

.intro {
background:url(/home1/intro.gif) repeat-x;
width:376px;
height:83px;
overflow:hidden;
position:absolute;
top:596px;
left:115px;
padding:17px 27px 0
}

.intro p {
font:11px/13px Arial, Helvetica, sans-serif;
color:#fff;
margin:0
}

.intro p strong {
font-size:12px;
line-height:13px
}

.intro div {
width:100%;
overflow:hidden
}

.btn-let-me-in {
background:url(/home1/btn-let-me-in.gif) no-repeat;
width:65px;
height:32px;
float:left;
font:11px/32px Arial, Helvetica, sans-serif;
color:#fff;
margin:10px 0 0 66px;
padding:0 0 0 46px
}

.btn-more-about-us {
background:url(/home1/btn-more-about-us.gif) repeat-x;
width:117px;
height:32px;
float:left;
font:11px/32px Arial, Helvetica, sans-serif;
color:#fff;
text-align:center;
margin:10px 0 0 11px
}

.let-me-in {
width:424px;
position:absolute;
top:258px;
left:295px
}

.let-me-in-t {
background:url(/home1/let-me-in-t.png) no-repeat
}

.let-me-in-b {
background:url(/home1/let-me-in-b.png) no-repeat
}

.let-me-in-t,.let-me-in-b {
height:10px;
overflow:hidden
}

.let-me-in-m {
background:url(/home1/let-me-in-m.png) repeat-y;
width:424px
}

.let-me-in-inner {
width:374px;
float:left;
position:relative;
margin:-10px 0;
padding:0 25px 27px
}

.let-me-in .head {
width:100%
}

.let-me-in .head .btn-close {
background:url(/home1/let-me-in-close.png) no-repeat;
width:21px;
height:21px;
float:right;
text-indent:-9999px;
overflow:hidden;
margin:-1px -27px 0 0
}

.let-me-in .head strong {
background:url(/home1/ico-info.gif) no-repeat 0 50%;
float:left;
font:14px/18px Arial, Helvetica, sans-serif;
color:#2ea5e1;
margin:22px 0 0;
padding:0 0 0 30px
}

.let-me-in .txt {
background:#fff;
border:1px solid #dfe8ea;
overflow:hidden;
margin:11px 0 0;
padding:0 22px 14px
}

.let-me-in p {
font:11px/13px Arial, Helvetica, sans-serif;
color:#6e6e6e;
margin:13px 0 0
}

.let-me-in fieldset {
width:100%;
display:block;
overflow:hidden;
margin:2px 0 0
}

.let-me-in .row {
width:392px;
overflow:hidden;
margin:12px -18px 0 0
}

.let-me-in .row div {
width:178px;
float:left;
margin:0 18px 0 0
}

.let-me-in label {
display:block;
font:11px/14px Arial, Helvetica, sans-serif;
color:#3babe3;
overflow:hidden;
margin:0 0 0 10px
}

.let-me-in label span {
color:red
}

.let-me-in .row div input {
width:157px
}

.let-me-in input {
width:354px;
float:left;
font:11px Arial, Helvetica, sans-serif;
border:1px solid #c8e8ff;
outline:none;
margin:4px 0 0;
padding:1px 9px 2px
}

.let-me-in textarea {
width:354px;
height:55px;
float:left;
font:11px Arial, Helvetica, sans-serif;
overflow:auto;
border:1px solid #c8e8ff;
outline:none;
margin:4px 0 0;
padding:1px 9px
}

.let-me-in input.submit {
background:url(/home1/btn-request-invitation.gif) no-repeat;
width:113px;
height:19px;
float:left;
text-indent:-9999px;
overflow:hidden;
border:0;
cursor:pointer;
outline:none;
margin:6px 0 0 10px;
padding:18px 0 0 112px
}

.let-me-in input.reset {
background:url(/home1/btn-cancel.gif) no-repeat;
width:53px;
height:19px;
float:left;
text-indent:-9999px;
overflow:hidden;
border:0;
cursor:pointer;
outline:none;
margin:6px 0 0 4px;
padding:18px 0 0 52px
}

.messages {
display:none;
width:340px;
position:absolute;
top:200px;
left:200px
}

.messages-t {
background:url(/home1/messages-t.png) no-repeat
}

.messages-b {
background:url(/home1/messages-b.png) no-repeat
}

.messages-t,.messages-b {
height:3px;
overflow:hidden
}

.messages-m {
background:url(/home1/messages-m.png) repeat-y;
width:340px
}

.messages-inner {
width:194px;
float:left;
margin:-3px 0;
padding:43px 60px 42px 86px
}

.messages img {
float:left;
display:inline;
margin:0 0 0 -40px
}

.messages p {
font:11px/14px Arial, Helvetica, sans-serif;
color:#fff;
margin:0
}

#footer {
height:25px;
overflow:hidden;
padding:56px 0 20px
}

#footer span {
float:right;
width:220px;
text-align:right;
color:#06466b;
font:11px/14px Arial, Helvetica, sans-serif;
margin:0
}

#footer ul {
text-align:center;
overflow:hidden;
margin:0;
padding:0 0 0 220px
}

#footer ul li {
display:inline;
list-style:none;
padding:0 12px
}

#footer ul a {
color:#1096dc;
text-decoration:none;
font:11px/14px Arial, Helvetica, sans-serif
}

#footer ul a:hover {
text-decoration:underline
}

.captcha .string input,.login .string input,.forgot-pass .string input {
background:none;
width:100%;
float:left;
font:11px Arial, Helvetica, sans-serif;
border:0;
outline:none;
margin:0;
padding:0
}

.login,.forgot-pass {
width:430px;
height:100px;
overflow:hidden;
position:absolute;
top:376px;
left:445px
}

.login .string,.forgot-pass .string {
background:url(/home1/login-string.gif) no-repeat;
width:195px;
height:16px;
float:left;
padding:2px 7px 0
}

.login .lnk-forgot-pass:hover,.lnk-login:hover,.btn-let-me-in:hover,.btn-more-about-us:hover {
text-decoration:none
}

* html .forgot-pass legend,* +html .forgot-pass legend {
margin:0 0 0 -7px
}

.let-me-in-m:after,.let-me-in .head:after,.messages-m:after {
content:"";
display:block;
clear:both
}

* html .let-me-in .txt,* html .let-me-in label,* html #footer ul {
height:1%;
overflow:visible
}